.page1_outlet_container {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 2vw 2vw;
  width: 40vw;
  /* border: 5px solid green; */
  position: relative;
  height: 25vh;
}
.page1_outlet_icon1,
.page1_outlet_icon2,
.page1_outlet_icon3,
.page1_outlet_icon4,
.page1_outlet_icon5,
.page1_outlet_icon6 {
  margin: 0 1vw 1vw;
  object-fit: contain;
  width: 10vw;
  max-width: 80px;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .page1_outlet_icon1 {
  }
  .page1_outlet_icon2 {
  }
  .page1_outlet_icon3 {
  }
  .page1_outlet_icon4 {
  }
  .page1_outlet_icon5 {
  }
  .page1_outlet_icon6 {
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .page1_outlet_icon1 {
    }
    .page1_outlet_icon2 {
    }
    .page1_outlet_icon3 {
    }
    .page1_outlet_icon4 {
    }
    .page1_outlet_icon5 {
    }
    .page1_outlet_icon6 {
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .page1_outlet_icon1 {
    }
    .page1_outlet_icon2 {
    }
    .page1_outlet_icon3 {
    }
    .page1_outlet_icon4 {
    }
    .page1_outlet_icon5 {
    }
    .page1_outlet_icon6 {
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .page1_outlet_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  

    .page1_outlet_icon1 {
      bottom: 23vw;
      right: 100vw;

    }
    .page1_outlet_icon2 {
      bottom: 20vw;
      right: 120vw;
    }
    .page1_outlet_icon3 {
      bottom: 1vw;
    right: 100.7vw;
    }
    .page1_outlet_icon4 {
      bottom: 41vw;
      right: 73vw;
    }
    .page1_outlet_icon5 {
      bottom: 0vw;
    right: 140vw;
    z-index: 0;
    }
    .page1_outlet_icon6 {
      bottom: 42vw;
      right: 85vw;
     
    }

    
  .page1_outlet_icon1,
  .page1_outlet_icon2,
  .page1_outlet_icon3,
  .page1_outlet_icon4,
  .page1_outlet_icon5,
  .page1_outlet_icon6 {
    position: absolute;
    width:5vw;
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  
    .page1_outlet_icon1 {
    }
    .page1_outlet_icon2 {
    }
    .page1_outlet_icon3 {
    }
    .page1_outlet_icon4 {
    }
    .page1_outlet_icon5 {
    }
    .page1_outlet_icon6 {
    
    }

    
  .page1_outlet_icon1,
  .page1_outlet_icon2,
  .page1_outlet_icon3,
  .page1_outlet_icon4,
  .page1_outlet_icon5,
  .page1_outlet_icon6 {
    position: absolute;
  }
}
