.page1_title_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding: 20vw 50px 0;
  /* border: 1px solid purple; */
}

.title {
  font-size: 2.5em;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 5vw;
}
.button_arrow_container {
  margin-top: 5vw;
  width: 100%;
}
.text_button {
  color: #fff;
  font-weight: 600;
  background-color: blue;
  align-items: center;
  background-color: #2d66f5;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  max-width: 130px;
  min-width: 80px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.arrow_img_container>img{
height: 20%;
margin-left: 50px;
width: 20%;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .title {
    font-size: 2em;
  }
  
  .subtitle {
    font-size: 1em;
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title {
    font-size: 2.2em;
  }
  
  .subtitle {
    font-size: 1.2em;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.5em;
  }
  
  .subtitle {
    font-size: 1.5em;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page1_title_container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: -10vh;

    
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page1_title_container{
    margin-top: -20vh;
  }
}
